---
title: Home
description: A collection of stuff that might surprise you!
image: https://source.unsplash.com/RFXxBTHze_M/Fixg8KipOg8?a=.png
bottom_image: https://source.unsplash.com/xc1ukV8p-gY/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Never Thought So!</h1>
            <p class="subtext editable">Life is unpredictable; such is it's predicament. NTS is the documented journey of one unsuspecting techie, hoping to be in the Silicon Valley.</p>
            <div class="cta button alt"><a href="{{ site.baseurl }}/blog">Read the Blog</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Explore <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Hello, World.</h2>
				<p class="editable">Today, the connected world is oblivious to geographical bounds. Fascinating is how 1's and 0's power a plethora of emotions.</p>
                <p class="editable">The world is a living art, waiting to be noticed, to inspire, and to fascinate. Even in thought of what it can be, it is so beautiful that we forget it is, indeed, what it can be but not what it is. The beauty isn't in the questin of reality, but the urge of changing it.</p>
                <p class="editable">NTS is a dive into the beauty of the world, through an amalgamation between imagery and text. It is a blog that documents everything happening around the writer. It is also, an invitation into the thinking of the writer.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/QZ0XBf7kVQ0/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Behind the Name</h2>
                <p class="editable">
                So, it's Mid June, I am desperate for a domain name but apparently, all my ideas are already taken. I consult my dad for sometime who is even more clueless about it.
                </p>
                <p class="editable">
                So, I have opened every resource known to mankind, ie, Google, with like 50 tabs. Translating words, and what not. Suddenly, a voice says, "Never Thought So".
                </p>
                <p class="editable">
                That was my dad. Like a miracle, all doors seemed to open up, then.
                </p>
                <p class="editable">
                There is more to the name, though. Our life, as any conspiracy theorist might tell you, is filled with lies. Our brain tends to explain things that seem so irrational in their own right. All it takes is a change in thinking. I guess, you <i>never thought so</i>.
                </p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/Oaqk7qqNh_c/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Welcome</h2>
				<p class="editable">
                Explore varied content cut from the same fabric. A philosophy that engages you in an internal dialogue, than being just a bland monologue.
                Invest your time, not waste it. This is not another random guy from the internet. 
                This is you.
                </p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/fIq0tET6llw/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Piqued?</h2>
				<p class="subtext editable">Let's have a conversation. And, maybe get to know each other better.</p>
                <div class="cta button alt"><a href="{{ site.baseurl }}/contact">Contact Me</a></div>
			</div>
		</div>
	</section>
</div>
