---
title: Home
description: Welcome to my corner on the internet.
image: https://source.unsplash.com/mblYxasm0nk/2000x1322?a=.png
bottom_image: https://source.unsplash.com/xc1ukV8p-gY/2000x1322?a=.png
---

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"f5aacad202c817bbb2d367c29","lid":"5d995ddefd"}) })</script>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Leita</h1>
            <p class="subtext editable"><i>Icelandic</i> to search</p>
            <br>
            <p class="subtest editable">We spend our entire lives searching for something; socks, happiness, food, et cetera. This is my profoundly vague search.</p>
            <div class="cta button alt"><a href="{{ site.baseurl }}/blog">Read the Blog</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Explore <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The Story</h2>
				<p class="editable">Today, the connected world is oblivious to geographical bounds. Fascinating is how 1's and 0's power a plethora of emotions.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/QZ0XBf7kVQ0/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What I like to do:</h2>
                <p class="editable">
                <dl>
                    <dt><h3 class="editable">Linux</h3></dt>
                    <dd><i>Linux has become a revolution that stands for more than just a kernel. It stands for FOSS, community driven developement, power of choice, among others. My laptop has been cursed because it is, simply, my laptop. And I try my hands on new OS regularly; including a failed attempt at HacBook.</i></dd>
                    <br>
                    <dt><h3 class="editable">Artificial Intelligence</h3></dt>
                    <dd><i>It's not a fad, nor just a computer thing; it is a journey inwards as it is outward. Alas, to perfect a forgery, you must perfectly understand the original. I am highly motivated to pursue such unchartered territories.</i></dd>
                    <br>
                    <dt><h3 class="editable">Poetry</h3></dt>
                    <dd><i>Notable literates write novels, those afraid of grammar Nazis write poems.</i></dd>
                    <br>
                    <dt><h3 class="editable">Rock Climbing</h3></dt>
                    <dd><i>The lower is the ego, the higher one goes.</i></dd>
                    <br>
                    <dt><h3 class="editable">Video Editing</h3></dt>
                    <dd><i>A skill I acquired by chance and, ended up working as an editor for two good years.</i></dd>
                    <br>
                    <dt><h3 class="editable">Philosophy and Psychology</h3></dt>
                    <dd><i>As the planks of Theseus' ship needed repair, it was replaced part by part, up to a point where not a single part from the original ship remained in it, anymore. Is it, then, still the same ship?</i></dd>
                    <br>
                </dl></p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/Oaqk7qqNh_c/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What I would be posting about:</h2>
				<p class="editable">
                <dl>
                    <dt><h3 class="editable">Opinions</h3></dt>
                    <dd><i>Reviews assume technical command. Opinions don't. Watch this blog for reviews of all things tech.</i></dd>
                    <br>
                    <dt><h3 class="editable">Projects</h3></dt>
                    <dd><i>Exploiting the power of internet to realise unrealistic ideas; at least, attempt to. This is supplemented by an account of emotions behind them.</i></dd>
                    <br>
                    <dt><h3 class="editable">Writings</h3></dt>
                    <dd><i>I love to write, not just code, mind you! So, don't be surprised to come across some of my nightly ramblings.</i></dd>
                    <br>
                    <dt><h3 class="editable">Learner's Block</h3></dt>
                    <dd><i>Change is the only constant. Let's make that change positive.</i></dd>
                    <br>
                </dl></p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/fIq0tET6llw/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Piqued?</h2>
				<p class="subtext editable">Let's have a conversation. And, maybe get to know each other better.</p>
                <div class="cta button alt"><a href="{{ site.baseurl }}/contact">Contact Me</a></div>
			</div>
		</div>
	</section>
</div>
