---
title: Projects
description: All the cool stuff!
image: https://source.unsplash.com/4pPzKfd6BEg/2000x1322?a=.png
layout: default
---
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-conatiner">
            <h1 class="editable">Wolf's Lair</h1>
            <p class="subtext editable">These aren't projects but hope for a better resume</p>
        </div>
    </div>
</section>

<section>
  <div class="text-container">
      <p class="change-category">A quaint summary of my past, present and not-so-distant future; project-wise.</p>
      <ul class="blog-posts">
      {% for project_data in site.data.projects %}
         {% assign project_slug = project_data[0] %}
         {% assign project = project_data[1] %}
         <li class="blog-post">
             <h2><a href="/project/{{ project_slug }}/">{{ project.title }}</a></h2>
             <div class="post-content">
                 {{ project.subtitle }}
                 <div class="button"><a href="/project/{{ project_slug }}/">Read More</a></div>
             </div>
         </li>
       {% endfor %}
      </ul>
  </div>
</section>
