---
title: Blog
description: Fresh content off my mind for your mind's consumption
image: https://source.unsplash.com/7B6BFC2E5tA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Captured!</h1>
			<p class="subtext editable">My mind; captured in excerpts</p>
		</div>
	</div>
</section>

<section class="pad">
    <div class="container">
        <ul class="staff">
	        {% assign categories_list = site.categories %}
  	        {% if categories_list.first[0] == null %}
    	        {% for category in categories_list %}
                {% include cat.html scc=category %}
                <li>
                    <div class="square-image" style="background-image: url({{ img }})"></div>
                    <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
    	        {% endfor %}
  	        {% else %}
        	    {% for category in categories_list %}
                {% include cat.html scc=category %}
                <li>
                    <div class="square-image" style="background-image: url({{ img }})"></div>
                    <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
            	{% endfor %}
  	        {% endif %}
	{% assign categories_list = nil %}
	    </ul>
    </div>
</section>

<section>
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
				{% endif %}

				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>
