---
layout: default
---

<section class="hero" style="background-image: url(https://source.unsplash.com/MqJX_8EaStM/2000x1322)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Captured!</h1>
			<p class="subtext">My mind; captured in excerpts.</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="change-category">All posts categorised under <strong>{{ page.title }}</strong>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead.</p>

		<ul class="blog-posts">
            {% assign category = page.title %}
            {% include list-posts.html posts=site.categories.category %}
		</ul>
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592d91bdaa5b6ab8"></script> 
	</div>
</section>
