---
layout: default
---
{% capture scc %}{{ page.category }}{% endcapture %}
{% case scc %}
    {% when 'cars' %}
    {% assign header = "Cars" %}
    {% assign sub = "Feel in absolute control" %}
    {% assign img = "https://source.unsplash.com/N9Pf2J656aQ/2000x1322" %}
    {% when 'culture' %}
    {% assign header = "Culture" %}
    {% assign sub = "Nuances of our society" %}
    {% assign img = "https://source.unsplash.com/oLhTLD-RBsc/2000x1322" %}
    {% when 'reviews' %}
    {% assign header = "Reviews" %}
    {% assign sub = "The n-th perspective" %}
    {% assign img = "https://source.unsplash.com/Wg7bvfDf6Ss/2000x1322" %}
    {% when 'science' %}
    {% assign header = "Science" %}
    {% assign sub = "Curiosity killed the cat" %}
    {% assign img = "https://source.unsplash.com/QJHzMkfrJpI/2000x1322" %}
    {% when 'technology' %}
    {% assign header = "Technology" %}
    {% assign sub = "Future is sporadically now" %}
    {% assign img = "https://source.unsplash.com/oZPwn40zCK4/2000x1322" %}
{% endcase %}
    <section class="hero" style="background-image: url({{ img }})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1>{{ header }}</h1>
            <p class="subtext">{{ sub }}</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="change-category">All posts categorised under <strong>{{ page.category }}</strong>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead.</p>
		<ul class="blog-posts">
			{% case scc %}
			    {% when 'cars' %}
               		{% include list-posts.html posts=site.categories.cars %}
                {% when 'culture' %}
                    {% include list-posts.html posts=site.categories.culture %}
                {% when 'reviews' %}
                    {% include list-posts.html posts=site.categories.reviews %}
			    {% when 'science' %}
			    	{% include list-posts.html posts=site.categories.science %}
                {% when 'technology' %}
                    {% include list-posts.html posts=site.categories.technology %}
			 {% endcase %}
		</ul>
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592d91bdaa5b6ab8"></script> 
	</div>
</section>
