---
layout: default
---
{% include head.html %}
{% capture scc %}{{ page.category }}{% endcapture %}
{% case scc %}
    {% when 'engage' %}
    {% assign header = "Engage" %}
    {% assign sub = "Stare, and you lose. Be moved." %}
    {% assign img = "https://source.unsplash.com/dKeB0-M9iiA/2000x1322" %}
    {% when 'experience' %}
    {% assign header = "Experience" %}
    {% assign sub = "What do we own? Objects or memories?" %}
    {% assign img = "https://source.unsplash.com/ZfUyQD6_Pwk/2000x1322" %}
    {% when 'know' %}
    {% assign header = "Know" %}
    {% assign sub = "Can you fill a book everyone will read?" %}
    {% assign img = "https://source.unsplash.com/UDKtI9hgyiQ/2000x1322" %}
    {% when 'invent' %}
    {% assign header = "Invent" %}
    {% assign sub = "What is original?" %}
    {% assign img = "https://source.unsplash.com/-v9Z6-uJxk4/2000x1322" %}
    {% when 'revolt' %}
    {% assign header = "Revolt" %}
    {% assign sub = "What makes you cringe?" %}
    {% assign img = "https://source.unsplash.com/FgPGGFlY1gY/2000x1322" %}
    {% when 'think' %}
    {% assign header = "Think" %}
    {% assign sub = "Why do we think?" %}
    {% assign img = "https://source.unsplash.com/8FwiZcXiX_g/2000x1322" %}
{% endcase %}
    <section class="hero" style="background-image: url({{ img }})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
            <h1>{{ header }}</h1>
            <p class="subtext">{{ sub }}</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="change-category">All posts categorised under <strong>{{ page.category }}</strong>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead.</p>
		<ul class="blog-posts">
			{% case scc %}
			    {% when 'engage' %}
               		{% include list-posts.html posts=site.categories.engage %}
                {% when 'experience' %}
                    {% include list-posts.html posts=site.categories.experience %}
                {% when 'know' %}
                    {% include list-posts.html posts=site.categories.know %}
			    {% when 'invent' %}
			    	{% include list-posts.html posts=site.categories.invent %}
                {% when 'revolt' %}
                    {% include list-posts.html posts=site.categories.revolt %}
                {% when 'think' %}
                    {% include list-posts.html posts=site.categories.think %}
			 {% endcase %}
		</ul>
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592d91bdaa5b6ab8"></script> 
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"f5aacad202c817bbb2d367c29","lid":"5d995ddefd"}) })</script>
	</div>
</section>
