---
layout: default
---

{% assign project = site.data.projects[page.project] %}
{% capture project_tab %}{{ page.dir | remove:"/project/" | remove:page.project | remove_first:"/" | split:"/" | first }}{% endcapture %}
{% if project.image %}
    {% assign image = project.image %}
{% else %}
    {% capture image %}https://source.unsplash.com/4pPzKfd6BEg/2000x1322?a=.png{% endcapture %}
{% endif %}

<section class="hero" style="background-image: url({% include relative-src.html src=image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1 class="editable">{{ project.title }}</h1>
            <p class="subtext editable">{{ project.subtitle }}</p>
        </div>
    </div>
</section>

<section class="pad">
    <div class="container">
        <div class="post-content">
            {% if project %}
                <ul class="staff">
                    <li>
                        {% if project_tab != "" %}
                            <div class="button"><a href="/project/{{ page.project }}/">Overview</a></div>
                        {% else %}
                            <div class="button"><a href="#">Overview</a></div>
                        {% endif %}
                    </li>
                    {% if project.has_demo %}
                        <li>
                            {% if project_tab == "demo" %}
                                {% capture project_demo_url %}/project/{{ page.project }}/demo/{% endcapture %}
                                {% if page.url != project_demo_url %}
                                    <div class="button"><a href="/project/{{page.project }}/demo/">Demo</a></div>
                                {% else %}
                                <div class="button"><a href="#">Demo</a></div>
                                {% endif %}
                            {% else %}
                                <div class="button"><a href="/project/{{ page.project }}/demo/">Demo</a></div>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if project.has_changelog %}
                        <li>
                            {% if project_tab == "changelog" %}
                                <div class="button"><a href="#">Changelog</a></div>
                            {% else %}
                                <div class="button"><a href="/project/{{ page.project }}/changelog/">Changelog</a></div>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if project.has_github %}
                        <li><div class="button"><a href="{{ project.github }}">Github</a></div></li>
                    {% endif %}
                </ul>
                    {{ content }}
            {% else %}
                <p class="editable">There is no project</p>
            {% endif %}
        </div>

        {% include advert.html %}

    </div>
</section>
